// Fonts
$text-font-family: Merriweather, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #fcfcfc !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
// $link-color: #1565c0 !default;
// $link-color: #557ac3 !default;
// $link-color: #3973ac !default;
// $link-color: #009999 !default;
// $link-color: #669999 !default;
// $link-color: #6b8d99 !default;
// $link-color: #677f99 !default;
// $link-color: #477399 !default;
// $link-color: #8d990c !default;
// $link-color: #997507 !default;
$link-color: #80961d !default;
// $link-color: #718519 !default;
// $link-visited-color: #8755c4 !default;
// $link-visited-color: #264d73 !default;
$link-visited-color: #5b6b14 !default;
