<section class="container centered">
  <div class="about">
    <!-- {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }} -->
    <!-- {{ with .Site.Params.avatarurl }} -->
    <!-- <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div> -->
    <!-- {{ end }} -->
    <!-- {{ end }} -->
    <!-- {{ with .Site.Params.gravatar }} -->
    <!-- <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div> -->
    <!-- {{ end }} -->
    {{ if and (.Site.Params.sfuavatar) (.Site.Params.dracavatar) }} 
    <div>
      <a href="https://www.sfu.ca/">
	<img src="{{ $.Site.Params.sfuavatar | relURL }}" alt="sfuavatar">
      </a>
      &emsp;&emsp;
     <a href="https://alliancecan.ca/">
	<img src="{{ $.Site.Params.dracavatar | relURL }}" alt="dracavatar">
     </a>
    </div>
    {{ end }}
    <br>
    <br>
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
  </div>
</section>
