{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
  <article>

    <br>
    <center>
      <a href="/chapel-original">
	<i class="fas fa-level-up-alt fa-2x" style="color: #f17e1f"></i>
      </a>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">
        <i class="fas fa-chevron-left fa-2x" style="color: #f17e1f"></i>
      </a>
      {{ else }}
      &emsp;&nbsp;
      {{ end }}
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">
	<i class="fas fa-chevron-right fa-2x" style="color: #f17e1f"></i>
      </a>
      {{ else }}
      &emsp;&nbsp;
      {{ end }}
    </center>

    <header>
      <div class="post-title">
        <h1 class="title">{{ .Title }}</h1>
	  {{ if .TableOfContents }}
      <br>
      <br>
      <div class="toggle">
      	<i class="fas fa-plus-circle"></i>
	&nbsp;Table of contents
      </div>
      <div class="panel">
	{{ .TableOfContents }}
      </div>
      {{ end }}
      </div>
    </header>

    <div>
      {{ if .Params.featured_image }}
      <img src='{{ .Params.featured_image }}' alt="Featured image"/>
      {{ end }}
      {{ .Content }}
    </div>

    <footer>
      {{ partial "posts/series.html" . }}
      <!-- {{ partial "posts/disqus.html" . }} -->
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>

    <br>
    <center>
      <a href="/chapel-original">
	<i class="fas fa-level-up-alt fa-2x" style="color: #f17e1f"></i>
      </a>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">
        <i class="fas fa-chevron-left fa-2x" style="color: #f17e1f"></i>
      </a>
      {{ else }}
      &emsp;&nbsp;
      {{ end }}
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">
	<i class="fas fa-chevron-right fa-2x" style="color: #f17e1f"></i>
      </a>
      {{ else }}
      &emsp;&nbsp;
      {{ end }}
    </center>
  </article>

    {{ partial "posts/math.html" . }}
</section>
<script>
  var acc = document.getElementsByClassName("toggle")
  var i
  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
  	  this.classList.toggle("active")
  	  var panel = this.nextElementSibling
  	  if (panel.style.maxHeight){
  	      panel.style.maxHeight = null
  	  } else {
  	      panel.style.maxHeight = panel.scrollHeight + "px"
  	  }
      })
  }
</script>
{{ end }}
